<section class="header-section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          <form id="search" name="search" action="https://www.google.com/search" method="get">
            <input type="text" id="query" name="q" placeholder="Search..."/>
        </form>
        <script>
          document.getElementById('search').addEventListener("submit", 
            function(event) {
                document.search.q.value += " site:byexample.xyz";
              }
          );
        </script>
        </nav>
      </div>
    </nav>
  </div>
</section>
