<div class="breadcrumbs">
  <div class="breadcrumbs-left">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a href="/">Root</a>
  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
    <span class="navigation-icon">🡢</span> {{ page.linktitle }}
    {% else %}
    <span class="navigation-icon">🡢</span> <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | capitalize | replace:'-',' ' | remove:'.html' }}</a>
    {% endif %}
  {% endfor %}
  </div>
  <div class="breadcrumbs-right">
    🡡 <a href="#">Back to top</a>
  </div>
</div>
