      </section>
      <section class="footer">
        <strong>About</strong><br>
        This website was created by the author as a self-reference for their own
        personal use, but published it in the hope that others might find the
        content useful.
        <br><br>
        <a href="/opensource">Open Source Licenses</a>
        <br><br>
        If you spot an error in this website, please raise an issue or submit a
        pull request on the <a href="https://github.com/matt1/byexample.xyz"
        target="_blank">github repository</a>.
        <br><br>
        <strong>Privacy &amp; Cookies</strong><br>
        <strong>This website does not collect, store, or process your personal information.</strong>
      </section>
    </div>
  </body>
</html>