      </section>
      <section class="footer">
          <div class="footer-left">
            &copy; <script>document.write(new Date().getFullYear())</script> under the MIT License<br>
            <a href="https://github.com/matt1/byexample.xyz" target="_blank">Github Repository</a><br>
            <a href="/opensource" target="_blank">Open Source Licenses</a><br>
          </div>
          <div class="footer-right">
            This website was created by the author as a self-reference for their own
            personal use, but published it in the hope that others might find the
            content useful.
            <br><br>
            <strong>Privacy &amp; Cookies</strong><br>
            This website does not collect, store, or process your personal information.
          </div>
      </section>
    </div>
  </body>
</html>