<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82355-14"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-82355-14');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="{{ page.short-description }}">
    <link rel='manifest' href='/manifest.json'>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <title>{% if page.layout != "directory_listing" %}{{page.title}}{% else %}{{ page.lang | capitalize }} {{ page.version }}{% endif %} Examples</title>
  </head>

  <body>
    <div class="grid">
      <section class="header-grid">
        <div class="header">
          <div class="header-title">
            <a href="/">
              <h1>byexample<span>.xyz</span></h1>
            </a>
          </div>
          <div class="header-search">
            <form method="get" id="search-google" action="https://www.google.com/search" target="_blank">
              <input type="hidden" name="sitesearch" value="byexample.xyz" />
              <input type="text" name="q" maxlength="255" value="" placeholder="Search examples" class="form-control" />
            </form>
          </div>
        </div>
      </section>
      
