<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div class="grid">
      <section class="header-grid">
        <div class="header">
          <div class="header-title">
            <a href="/">
              <h1>/* byexample.xyz */</h1>
            </a>
          </div>
          <div class="header-search">
            <form method="get" id="search-google" action="https://www.google.com/search" target="_blank">
              <input type="hidden" name="sitesearch" value="byexample.xyz" />
              <input type="text" name="q" maxlength="255" value="" placeholder="Search examples" class="form-control" />
            </form>
          </div>
        </div>

        <div class="dropdown dropdown-closed">
          <div class="dropdown-column-1">
            Java
          </div>
          <div class="dropdown-column-2">
            Javascript
          </div>
          <div class="dropdown-column-3">
            col 3
          </div>
        </div>
      
      </section>
      <section class="content-grid">