.breadcrumbs-grid {
  background: var(--background);
  color: var(--foreground);
  position: sticky;
  top: $header-height;
  transition: $default-transition;
  font-size: 1rem;
  z-index: 100;


  a, a:active, a:visited {
    color: var(--primary);
    border-bottom: 1px dotted var(--primary);

    @media (prefers-color-scheme: dark) {
      color: var(--foreground);
      border-bottom: 1px dotted var(--foreground);
    }
  }

  @media (max-width: $max-width) {
    height: $breadcrumbs-height-mobile;
    top: $header-height-mobile;

    // TODO(this is the same as .sticky - move to mixin? */
    background-color: var(--secondary);
    color: var(--background);

    a, a:active, a:visited {
      color: var(--background);
      border-bottom: 1px dotted var(--background);

      @media (prefers-color-scheme: dark) {
        color: var(--foreground);
        border-bottom: 1px dotted var(--foreground);
      }
    }
  }

  .breadcrumbs-left {
    @media (prefers-color-scheme: dark) {
      color: var(--foreground);
    }

    .navigation-icon{
      font-size: 80%;
    }
  }

  .breadcrumbs-right {
    @media (prefers-color-scheme: dark) {
      color: var(--foreground);
    }
    display: none;
  }

  &.sticky {
    background-color: var(--secondary);
    color: var(--background);
    height: $breadcrumbs-height;
    transition: $default-transition;
    font-size: 0.8rem;
  
    @media (max-width: $max-width) {
      font-size: 1rem;
      height: unset;
    }

    a, a:active, a:visited {
      color: var(--background);
      border-bottom: 1px dotted var(--background);

      @media (prefers-color-scheme: dark) {
        color: var(--foreground);
        border-bottom: 1px dotted var(--foreground);
      }
    }
  
    .breadcrumbs-right {
      display: initial;
    }
  }
}




