$common-padding: 1rem;

$header-height: 48px;
$header-height-mobile: 40px;
$breadcrumbs-height: 40px;
$breadcrumbs-height-mobile: 45px;

$gutter-width: 75px;

$default-transition: ease 0.2s;

:root {
  --primary: #0288D1;
  --secondary: #3FB1EF;
  --background: #fff;
  --foreground: #000;
  --code-background: #f5f7fa;
  --code-background-inline: #f2f2f2;
  --code-border: #d2d2d2;
  --footer-background: #f5f7fa;
  --footer-border: #d2d2d2;
  --footer-link: #777;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1e2931 ;
    --secondary: #1e2931 ;
    --background: #181e23;
    --foreground: #c7ccd1;
    --code-background: #404040;
    --code-background-inline: #404040;
    --code-border: #414338;
    --footer-background: #1e2931;
    --footer-border: #1e2931;
    --footer-link: #c7ccd1;
  }
}

// breakpoints
$max-width: 1000px;