$common-padding: 1rem;

$header-height: 48px;
$header-height-mobile: 40px;
$breadcrumbs-height: 40px;
$breadcrumbs-height-mobile: 40px;

$gutter-width: 75px;

$default-transition: ease 0.2s;

// Colours
$primary-colour: #0288D1;
$secondary-colour: #3FB1EF;

// breakpoints
$max-width: 1000px;