.dropdown {
  display: grid;
  grid-template-columns: $gutter-width 1fr 1fr 1fr $gutter-width;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". dropdown-column-1 dropdown-column-2 dropdown-column-3 .";
}

.dropdown-column-1 {
  grid-area: dropdown-column-1;
}

.dropdown-column-2 {
  grid-area: dropdown-column-2;
}

.dropdown-column-3 {
  grid-area: dropdown-column-3;
}

.dropdown-closed {
  display: none;
}

.dropdown-open {
  display: block;
  z-index: 1;
}