.footer {
  background-color: var(--footer-background);
  border-top: 1px solid var(--footer-border);
  font-size: 80%;
  padding: 2rem 0;

  a {
    border-bottom: 1px dotted var(--footer-link);
    color: var(--footer-link);
    text-decoration: none;
  }
}