.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height auto auto;
  grid-template-areas:
    "header-grid"
    "content-grid"
    "footer";
}

.content-grid {
  grid-area: content-grid;
  display: grid;
  grid-template-columns: $gutter-width auto 250px $gutter-width;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". content sidebar .";
}

.header-grid {
  grid-area: header-grid;
  display: grid;
  grid-template-columns: $gutter-width auto $gutter-width;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". header .";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: $gutter-width 300px auto $gutter-width;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". footer-left footer-right .";
}

.footer-left {
  grid-area: footer-left;
  padding: $common-padding;
}

.footer-right {
  grid-area: footer-right;
  padding: $common-padding;
}

.sidebar {
  grid-area: sidebar;
  padding: 3rem 1rem 1rem 1rem;
}

.content {
  grid-area: content;
  padding: $common-padding;
}
