.header-grid {
  background-color: #0288D1;
  color: #fff;
  height: $header-height;
  position: fixed;
  width: 100%;
  transition: $default-transition;
}

.header {
  align-items: center;

  a, a:hover {
    color: #fff;
  }

  h1 {
    font-size: 1.5rem;
  }

  form {
    padding-left: $common-padding;
    input {
      border: 0;
      padding: 5px;
      width: 15rem;
    }
  }
}

.sticky {
  transition: $default-transition;
}
