.header-grid {
  background-color: #0288D1;
  color: #fff;
  height: $header-height;
  position: fixed;
  width: 100%;
}

.header {
  a, a:hover {
    color: #fff;
  }

  h1 {
    font-size: 1.5rem;
  }
}
