.header-grid {
  background-color: $primary-colour;
  color: #fff;
  
  position: fixed;
  width: 100%;
  transition: $default-transition;
  z-index: 100;
}

.header {
  align-items: center;

  a, a:hover {
    color: #fff;
  }

  h1 {
    font-size: 1.5rem;

    @media (max-width: $max-width) {
      font-size: 1.25rem;
    }
  }

  form {
    padding-left: $common-padding;
    input {
      border: 0;
      padding: 5px;
      width: 15rem;
    }
  }
}

.sticky {
  transition: $default-transition;
}
