@import 'common';
@import 'code-highlighting';
@import 'footer';
@import 'grid';
@import 'typography';
@import 'toc';

body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

.header {
    background-color: #0288D1;
    color: #fff;
    padding: 3px;
}
