body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

a {
  border-bottom: 1px dotted $primary-colour;
  color: $primary-colour;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  scroll-margin-top: $header-height + $breadcrumbs-height;
}

h1 {
  font-size: 1.75rem;
  &.title {
    font-size: 2rem;
    font-weight: 400;
  }
}


h2 {
  font-size: 1.5rem;
}

.licenses {
  line-height: 1;
  font-size: 80%;
  margin: 1em;
  padding: 1em;
  white-space: pre-wrap;
}

.header h1 {
  font-family: "Open Sans", monospace;
  font-weight: 600;

  span {
    font-weight: 300;
  }
}