body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

a {
  border-bottom: 1px dotted #2077b2;
  color: #2077b2;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  scroll-margin-top: $header-height + $breadcrumbs-height;//3rem;
}

h1 {
  font-size: 1.75rem;
  &.title {
    font-size: 2rem;
  }
}


h2 {
  font-size: 1.5rem;
}

.licenses {
  line-height: 1;
  font-size: 80%;
  margin: 1em;
  padding: 1em;
  white-space: pre-wrap;
}

.header h1 {
  font-family: "Roboto Mono", monospace;
}