body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.75;

  @media (max-width: $max-width) {
    font-size: 18px;
  }
}

a {
  border-bottom: 1px dotted var(--primary);
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--foreground);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--foreground);
    border-bottom: 1px dotted var(--foreground);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  scroll-margin-top: $header-height + $breadcrumbs-height;
}

h1 {
  font-size: 1.75rem;

  @media (max-width: $max-width) {
    font-size: 1.3rem;
  }

  &.title {
    font-size: 2rem;
    font-weight: 400;

    @media (max-width: $max-width) {
      font-size: 1.3rem;
      font-weight: 600;;
    }
  }
}


h2 {
  font-size: 1.5rem;
}

.licenses {
  line-height: 1;
  font-size: 80%;
  margin: 1em;
  padding: 1em;
  white-space: pre-wrap;
}

.header h1 {
  font-family: "Open Sans", monospace;
  font-weight: 600;

  span {
    font-weight: 300;
  }
}

blockquote {
  border: 1px solid var(--primary);
  border-left: 5px solid var(--primary);
  margin-left: $common-padding;
  padding-left: $common-padding;
}