{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
      <div class="subtitle is-6 is-pulled-right">

      </div>
      <h1 class="title">{{ .Title }}</h1>
      <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
      {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
      {{ partial "adsense" . }}  
      {{ end }}
      <div class="content-container">
        <div class="toc-content">
            {{ if .Params.toc }}
              <strong>Sections on this page:</strong>
              {{ .TableOfContents }}
            {{ end }}
            <br>
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <strong>See Also</strong>
            <ul>
              {{ range . }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
            {{ end }}
            <br>
            {{ if .Params.tags }}
            <strong>Tags</strong><br>
            {{ partial "tags" .Params.tags }}
            {{ end }}            
        </div>
        <div class="main-content">
      
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>

    {{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
    {{ partial "adsense" . }}   
    {{ end}}
  </div>
</section>
{{ partial "footer" . }}